body {
    background-image: url("https://thumbs.dreamstime.com/t/blue-wood-weathred-painted-as-background-61297150.jpg");
}
h1 {
    font-size: 375;
}
/* unvisited link */
a:link {
    color: green;
}
